
@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../css/fonts/HelveticaNeue-Medium.ttf") format('truetype');
    }
    
.bgBlue{
    background-color: #262933;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    padding: 0% 0px 0px 0px;
    z-index: 0;
}
.header{
    color: #7EFF94;
    text-align: center;
    font-size: 60px;
    font-family: 'HelveticaNeueMedium';
    font-weight:bold;
    margin: 2% 0% .2% 0%;
}
.hambuger{
    z-index: 1;
    height: 25px;
    overflow: visible;
}
.image{
    width: 30px;
    margin: 0px 20px 0px 0px;
}
.image.yt{
    width: 40px;
}
.socialList{
    display: block;
    align-content: center;
}
.description{
    font-size: 40px;
    font-family: 'HelveticaNeueMedium';
    color: white;
    margin-top: 10%;
}
.arrow {
    border: solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.portfolio{
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 40px;
    background: transparent;
    transition: all .2s;
    font-family: 'HelveticaNeueMedium';
    cursor: pointer;
    color: white;
    padding: 20px;
    margin: 10% 0% 0% 0%;
}
.portfolio:hover{
    background:rgba(126, 255, 147, 0.432);
    border:2px solid rgba(126, 255, 147, 0.432);
}
.portfolio:hover>#rightArrow{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#rightArrow{
    transition: all .2s;
}

